@model IEnumerable<ApplicationCore.Models.Response.GenreResponseModel>

@foreach (var genre in Model)
{
    <a asp-action="genre" asp-controller="Movies" class="dropdown-item" asp-route-id="@genre.Id"> @genre.Name</a>
}