@model IEnumerable<ApplicationCore.Models.Response.GenreResponseModel>

@foreach (var genre in Model)
{
    <a asp-controller="Movies" asp-action="genre" asp-route-id="@genre.Id" class="dropdown-item" > @genre.Name</a>
}