@model ApplicationCore.Models.Response.MovieCardResponseModel


<div class="card mb-4 bg-light">
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" alt="@Model.Title" class="img-fluid" />
    </a>
</div>
