<form (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name" name="name" 
        [(ngModel)]="userRegister.name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
        [(ngModel)]="userRegister.password">
      </div>
      <div class="form-group">
        <label for="designation">Designation</label>
        <input type="text" class="form-control" id="designation" placeholder="Designation" name="designation"
        [(ngModel)]="userRegister.designation">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>